<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="../static/img/logo.ico" type="image/svg+xml">
    <title>Cambiar Contraseña</title>
</head>
<body>
    <img id="logo" src="../static/img/logo_8_c.png" alt="Logo de la página">
    <div class="container">
        <h1>Cambiar Contraseña</h1>
        <form method="post" action="">
            <label for="current_password">Contraseña Actual:</label>
            <input type="password" id="current_password" name="current_password" required>
            <label for="new_password">Nueva Contraseña:</label>
            <input type="password" id="new_password" name="new_password" required>
            <label for="confirm_password">Confirmar Nueva Contraseña:</label>
            <input type="password" id="confirm_password" name="confirm_password" required>
            <button type="submit">Cambiar Contraseña</button>
        </form>
        <br>
        <a href="{{ url_for('index') }}">Volver a la lista de usuarios</a>
    </div>
</body>
</html>
