<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/style.css') }}">
    <link rel="shortcut icon" href="../static/img/logo.ico" type="image/svg+xml">
    <title>CRUD App</title>
</head>
<body>
    <img id="logo" src="../static/img/logo_8_c.png" alt="Logo de la página">
    <h1>Usuarios</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Usuario</th>
            <th>Correo Electrónico</th>
            <th>Acciones</th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user[0] }}</td>
                <td>{{ user[1] }}</td>
                <td>{{ user[2] }}</td>
                <td>
                    <a href="{{ url_for('read', user_id=user[0]) }}">Detalles</a>
                    <a href="{{ url_for('update', user_id=user[0]) }}">Editar</a>
                    <a href="{{ url_for('change_password', user_id=user[0]) }}">Cambiar Contraseña</a>
                    <a href="{{ url_for('delete', user_id=user[0]) }}" onclick="return confirm('¿Estás seguro de que deseas eliminar este usuario?')">Eliminar</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('create') }}">Agregar Usuario</a>
</body>
</html>
